<form action="{{ action }}" method="post" class="question-form {% if hidden %}hidden{% endif %}" id="{{ id }}" >

    {% include 'components/fields/charfield.html' with field=question.title %}

    {% include 'components/fields/textarea.html' with field=question.text %}

    <div class="form__line">
        <b>Варианты ответа</b>
        {% include 'components/edit/answer_edit.html' %}
    </div>

    {% if edit %}
        <input type="submit" class="button-primary js-question-save" value="Сохранить">
        <input type="submit" class="button test-edit__delete" value="Удалить">
    {% else %}
        <input type="submit" class="button js-remove" value="Удалить">
    {% endif %}

</form>