{% extends 'layout/main.html' %}

{% block content %}
    <div class="container">
        <h2>Редактирование теста</h2>
        <form class="row test-edit" method="post" action="{% url 'core:test_edit' form.test.instance.id %}">
            {% include 'components/fields/charfield.html' with field=form.test.title %}

            {% include 'components/fields/textarea.html' with field=form.test.description %}

            <input class="button button-primary test-edit__save" type="submit" value="Сохранить">
            <input class="button test-edit__delete" type="submit" value="Удалить">
        </form>

        <div class="question_list">
            <h2>Вопросы</h2>
            {% for form_id, q_form in form.questions.items %}
                {% include 'components/edit/question_edit.html' with question=q_form id=form_id %}
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block requirejsconfig %}
    {% include 'components/js.html' with name='test' %}
{% endblock %}