{% extends 'layout/main.html' %}

{% block content %}
    <div class="container">
        <h2>Редактирование теста</h2>
        <div id="id-question">
            <form class="row test-edit" method="post"
                  action="{% url 'core:test_edit' form.test.instance.id %}" id="test">
                {% include 'components/fields/charfield.html' with field=form.test.title %}

                {% include 'components/fields/textarea.html' with field=form.test.description %}

                <input class="button button-primary test-edit__save" type="submit" value="Сохранить">
                <input class="button test-edit__delete" type="submit" value="Удалить">
            </form>

            <div class="question_list">
                <h2>Вопросы</h2>
                {% for form_id, q_form in form.questions.items %}
                    {% include 'components/edit/question_edit.html' with question=q_form id=form_id %}
                {% endfor %}
                {% include 'components/edit/question_edit.html' with question=form.question_0 id='question_0' %}
            </div>
        </div>
        <div class="message_success hidden">
            <h3>Успех!</h3>
            <p>Тест успешно добавлен.</p>
            <p><a href="{% url 'core:test_list' %}" class="button button-primary">К списку тестов</a>
            </p>
        </div>
        <div class="message_success-delete hidden">
            <h3>Успех!</h3>
            <p>Тест успешно удален.</p>
            <p><a href="{% url 'core:test_list' %}" class="button button-primary">К списку тестов</a>
            </p>
        </div>
        {% include 'components/edit/question_edit.html' with question=form.hidden_question id='hidden-question' %}
    </div>
{% endblock %}

{% block requirejsconfig %}
    {% include 'components/js.html' with name='test' %}
{% endblock %}