{% extends 'layout/main.html' %}

{% block content %}

    <div class="container">

        <div class="search">
            <form action="{% url 'core:test_search' %}" method="post">
                <input type="text" placeholder="Введите имя теста" class="u-full-width" name="title">
                <div class="icon-wrapper">
                    <i class="icon_search"></i>
                </div>
                <button type="submit" class="button-primary">
                    Искать
                </button>
            </form>

        </div>

        {% include 'components/actions.html' with create_test=True %}

        <table class="test-table u-full-width">
            <thead>
                <tr>
                    <th>Название</th>
                    <th>Автор</th>
                    <th>Дата создания</th>
                    <th></th>
                    {% if request.user.is_superuser %}
                        <th></th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for test in test_list %}
                    <tr>
                        <td>{{ test.title }}</td>
                        <td>{{ test.user }}</td>
                        <td>{{ test.creation_date }}</td>
                        {% if is_teacher %}
                            <td><a href="{% url 'core:test_edit' test.id %}">Изменить</a></td>
                        {% endif %}
                        {% if is_student %}
                            <td><a href="{% url 'core:test' test.id %}">Пройти</a></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


{% endblock %}