{% extends 'layout/main.html' %}

{% block content %}
    <div class="container">
        <h2>Ответы ученика</h2>

        {% for answer in answer_list %}
            <div class="answer-body">
                <h4>Название вопроса: {{ answer.question.title }}</h4>

                <h6>Ответ:</h6>
                <p>{{ answer.answer_variant.text }}</p>

                <h6>Баллы:</h6>
                <p>{{ answer.answer_variant.points }}</p>
            </div>
        {% endfor %}

    </div>
{% endblock %}