.header {
    height: 6rem;
    background-color: #ECEFF1;
}

.menu {
    float: right;
}
.menu .menu__item {
    display: inline-block;
    margin-left: 3rem;
}

.menu .menu__item:last-child {
    margin-right: 3rem;
}

.link_menu {
    font-size: 3rem;
    text-decoration: none;
}

.link_menu-active {
    color: black;
}

.link_test {
    color: #A4A0A4;

}

.profile {
    margin-top: 5rem;
}

.profile .profile__line {
    margin-bottom: 5rem;
}

.actions {
    margin-bottom: 3rem;
}

.action {
    height: 50rem;
    min-width: 20rem;


    border-radius: 1rem;

    /*cursor: pointer;*/

    text-align: center;
}

.action .action__line {
    margin-bottom: 2rem;
}

.action .action__icon {
    display: inline-block;
}

.icon_pass-test {
    height: 20rem;
    width: 20rem;
    background-image: url(../svg/pencil-1.svg);
    background-size: contain;
}

.icon_diploma {
    height: 20rem;
    width: 20rem;
    background-image: url(../svg/diploma-1.svg);
    background-size: contain;
}

.icon_test {
    height: 20rem;
    width: 20rem;
    background-image: url(../svg/test.svg);
    background-size: contain;
}

.icon_grade {
    height: 20rem;
    width: 20rem;
    background-image: url(../svg/graduate.svg);
    background-size: contain;
}

.icon_points {
    height: 20rem;
    width: 20rem;
    background-image: url(../svg/trophy.svg);
    background-size: contain;
}

.icon_printer {
    display: inline-block;

    position: relative;
    top: .5rem;

    height: 2rem;
    width: 2rem;

    background-image: url(../svg/printer.svg);
    background-size: contain;
}

.print_action {
    margin-top: 2rem;
}

.search {
    margin-top: 2rem;
}

.icon-wrapper {
    position: absolute;
    top: .5rem;
    right: 1rem;
}
.icon_search {
    position: relative;
    top: .5rem;
    height: 2rem;
    width: 2rem;
    display: inline-block;
    background-image: url(../svg/magnifying-glass.svg);
    background-size: contain;
}

.button__text {
    margin-left: .1rem;
}


.form {

}

.form_auth {
    position: absolute;
    top: 30rem;
}

.form .form__error {
    color: red;
}

.hidden {
    display: none;
}

.test-edit {

}

.test-edit .test-edit__text-area {
    height: 20rem;
}

.test-edit .test-edit__delete {
    margin-left: 2rem;
}